/*Navbar ting herind*/


/* Hovednavigation */
.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 5px 30px;
    /* Reduceret højde */
    border-bottom: 2px solid #ddd;
    padding-top: 10px;
    margin-bottom: -4px;
}

/* Juster logoets størrelse */
.logo img {
    height: 50px;
    /* Mindre logo */
}

/* Navigation links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    /* Skubber navigationsteksten til højre */
    margin-left: auto;
    align-items: center;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    padding: 3px;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #972620;
}


/* Søgeikon + CTA-knap */
.call-to-action {
    margin-left: 3%;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* CTA-knap flyttet til venstre for søgeikonet */
.cta-button {
    background-color: #972620;
    color: white;
    padding: 8px 18px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.cta-button:hover {
    background-color: #257F88;
    color: #fff;
}

/* Søgeikon */
.search {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    padding-left: 7px;
}

.search:hover {
    color: #972620;
}


@media (max-width: 768px) {
    .main-nav {
        flex-direction: column;
        gap: 30px;

    }

    .nav-links {
        flex-direction: column;
        margin-left: 0;
        text-align: center;
    }



}